certifi==2018.10.15
chardet==3.0.4
idna==2.7
inflect==1.0.1
oauthlib==2.1.0
psycopg2-binary==2.7.5
PySocks==1.6.8
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
sqlacodegen==2.0.1
SQLAlchemy==1.2.12
tweepy==3.6.0
urllib3==1.24.2
